@Charset "utf-8";

div.box{
    width : 400px;
    height : auto;
    border : 1px solid gray;
}
h1{
    width:200px;
    height: 100px;
    background: red;
}

h2{
    width: 100px;
    height: 30px;
    background: #ffff00;
}
h3{
    width: 50px;
    height: 50px;
    background: #0000ff;
}
h4{
    height: 30px;
    background: #ff00ff;
}

h5{
    width: 200px;
    height: 100px;
    background: #ff0;
}
h6{
    width:100px;
    height: 100px;
    background: tomato;
}