@charset "utf-8";

#wrap {width : 100%; height : auto; border : 10px solid gray; box-sizing : border-box;}


div.header {    width : 100%; height : 80px; background-color : aquamarine;}




div.nav {width : 970px; height: 500px; border: 3px solid black; margin : 0 auto ; }    /*가로 가운데 image 설정*/
    

div.section {width : 970px; height : 300px; border : 2px solid blue; margin : 0 auto; }  



div.footer { width : 100%; height : 80px; border : 1px solid red; } 


/*header 시작*/
div.header .hMenu {width : 970px; height : 80px; border : 1px solid black; margin: 0 auto;}
div.header .hMenu .topMenu {width : 970px; height : 80px; background-color : green;}
div.header .hMenu .bottomMenu {width : 970px; height : 80px; background-color : blue;}

/*nav 시작*/

/*section 시작*/

div.section .sec1Top {width : 100% ; height: 200px; border : 3px solid purple;}
div.section .sec1Bottom {width : 100% ; height: 100px; border : 4px solid orange;}

/*footer 시작*/

div.footer .fContent { width : 970px; height : 80px; background : black; margin: 0 auto;}