@charset "UTF-8";

body {


}

#wrap {
  width : 100%;
  height : auto;
/*  background: #ffe;*/
background: #ccc;
}

#wrap .contents{
  width : 1100px;
  min-width: 1100px;
  height : auto;
  background: #fff;  
  margin : 0 auto;

  box-sizing: border-box;
  overflow: hidden;
  padding : 8px 10px;

}

#wrap .top{
  width : 100%;
  min-width: 1100px;
  height : auto;
  background: #fff;

  box-sizing: border-box;
  overflow: hidden;
  padding : 12px 0px;

}



/* header */


#wrap .contents .header {
    width : 1100px;
    margin: 0 auto;
  height : auto;
  overflow: hidden;
  position : relative;
  margin-top:10px;
}



#wrap .contents .header a,span{
    display: block;
}



#wrap .contents .header .logo{
    float : left;
    width : 500px;
    height : 75px;
}


#wrap .contents .header span.bc_logo{
    display: block;
    width : 231.5px;
    height : 62px;
    background: url('../images/logo.png') no-repeat 50%;
    background-size : cover;
    
}

#wrap .contents .header a{
    width : 231.5px;
}

/* header aside*/

#wrap .contents .header .aside {
  float : left;
  width : 40%;  
  height : 62px;
  border : 2px solid #fc7;
  position : relative;
  box-sizing: border-box;
  
}

#wrap .contents .header .aside>h2{
  border : 1px solid;
  box-sizing: border-box;
  color : #fc7;    
  position : absolute;
  top : 0px;
  left :  0px;
    width : 300px;
    height : 50px;
}


/* nav */



#wrap .contents .nav {
    width : 100%;
  
/*    background: #faa555;*/
    
    border-top : 2px solid #f7be96;
    border-bottom : 2px solid #f7be96;


    box-sizing: border-box;

}

#wrap .nav .gnb{
    width : 1100px;
    min-width : 1100px;
    margin : 0 auto;
}



#wrap .nav .gnb ul{    
  overflow: hidden;
  font-size : 14px;
  text-align: center;
  
    
}

#wrap .nav .gnb ul li {

  width : 100px;
  line-height:44px;
  float : left;
  box-sizing: border-box;
    
    color : #be8c43;
    font-size : 17px;
    font-weight: bold;
    margin-right : 10px;  
}

/*section*/

#wrap .contents .section{
  height:auto;
  position: relative;
  overflow: hidden;
  background: #ffe;
      width : 1100px;
  min-width: 1100px;
  height : auto;
  background: #fff;  
  margin : 0 auto;

  box-sizing: border-box;
  overflow: hidden;
  padding : 8px 10px;

  }


/*section_left*/

#wrap .section>.section_left{

width : 830px;
height : auto;
float:left;
background: #fff;
z-index: 2;
}

    /* section best */

#wrap .section>.section_left>.best{

width : 100%;
height: 360px;
float:left;
}

    /* section> daily */

#wrap .section>.section_left>.daily{
  width : 100%;
  height : 760px;
  box-sizing: border-box;
  float:left;
  background: rgba(16, 207, 249, 0.39);
}

/*section_right*/

#wrap .section>.section_right{
    float : left;
    height : auto;
    margin-left: 10px;
    height: 100px;
    box-sizing: border-box;

}


#wrap .section .section_right .user_wrap{
  width: 230px;
  height : 200px;

  box-sizing: border-box;
  padding : 15px;
}


#wrap .section .section_right .user_wrap>form>ul>.login{
  width : 130px;
  border : none;
  float : left;
}

#wrap .section .section_right .user_wrap>form>ul>.submit{
    width : 70px;
    
    float : left;
    
}

#wrap .section .section_right .user_wrap>form>ul>.login>li>input{
width : 100%;
height: 35px;
box-sizing: border-box;

}

#wrap .section .section_right .user_wrap>form>ul .submit>input{

  width : 100%;
  height : 70px;
    background: #fff;
/*  background: #eed;*/
  cursor : pointer;
    color : #333;
    font-size : 15px;
  box-sizing: border-box;
}
    /* user */
