#wrap {
 width : 100%;
 height : auto;
}

/* 헤더시작 */

.header {

}

.header .gnb{
  height : auto;
  overflow: hidden;
  position: relative;

}

.header .gnb li{
  width : 15%;
  float : left;
  height : 100px;
  line-height: 100px;
  box-sizing: border-box;
}

.header .gnb .logo{
  width : 25%;
}


.header .gnb .logo .logo_place{
  position : absolute;
  left : 7%;
  width : 100px;
  height: 100px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

 /* 사이드바 시작 */

.snb {
  position : fixed;
  z-index : 100;
  top : 40%;
  margin-top: -50px;
  right : 0px;
  width : 50px;
  height: auto;

}

.snb li{
  position: relative;
  border : 3px solid gray;
  border-radius: 50%;
  background: white;
  box-sizing: border-box;
  height: 50px;

}

.snb li:hover{
  background: #000;
}

.snb li:nth-child(1) hover{

}


/* 섹션시작 */
.section {
  background: #adf;
  margin-top : 8px;
}


.section li{
  margin : 0 auto;
}
.section .home{
  height : 1080px;
  opacity : 0.75;
  z-index : 100px;
}

.section .slogan{
  height : 1080px;
}

.section .statistics{
  height : 1080px;
  background: #fff;
}

.section .memory{
  height : 1080px;
  background: #2ad;
}

.section .subscribe{
  height : 200px;
  background: #cdd;
}

.section .subscribe_right{
  position: absolute;
  right : 20%;
  margin-top: 1%;
}

/* 하단시작 */

.footer {
  height : 300px;
  background: #333;
}
