#wrap {
 width : 100%;
 height : auto;
}


.header {
  width : 100%;
  position : fixed;
  left : 0px;
  top : 0px;
  z-index: 5;
  background: #fff;
  opacity: 0.80;
}

.section {
  width : 100%;
  height :  auto;
  box-sizing: border-box;
}


.footer {
  height : auto;
  background: #333;
  position : relative;
}



/* 헤더시작 */
.header>.gnb{
  max-width : 1100px;
  height : auto;
  position: relative;
  margin : 0 auto;
  text-align: center;
}

.header .gnb ul{
  overflow: hidden;
}

.header .gnb ul li{
  width : 20%;
  float :left;
  line-height: 80px;
  box-sizing: border-box;
  color : deepskyblue;
  font-weight: bold;
  font-size : 20px;
}


.header .gnb ul>li:nth-child(1){
  width : 20%;
  height : 80px;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;

}

/*  <----------section 시작 ------------>*/


/*홈*/

.section_home {
    margin-top : 80px;
    background: #0f90f9;
    color : white;

}

.section_home .contents_home {
    max-width : 1100px;
    height : 890px;
    /*브라우저 전체화면 높이가 아닌 일반 화면에서의 높이*/
    margin : 0 auto;
    border : 3px solid #fff;
    box-sizing: border-box;
    position : relative;

}

.section_home .contents_home .home_1{
    position : absolute;
    top : 80px;
    width : 200px;
    height : 200px;
    border : 1px solid #fff;
}

.section_home .contents_home .home_2{
    position : absolute;
    right : 0;
    top : 430px;
    font-size : 45px;
    border : 1px solid #fff;
}

.section_home .contents_home .home_3{
    position : absolute;
    left : 0;
    bottom : 0;
    font-size : 25px;
    border : 1px solid #fff;
    width : 500px;
    height : 180px;


}

/*슬로건*/

.section_slogan{
    background: #eee;
}

.section_slogan .contents_slogan{
    max-width : 1100px;
    height : 1080px;
    margin : 0 auto;
    position : relative;
    border : 3px solid;
    box-sizing: border-box;
}

.section_slogan .contents_slogan .slogan_1{
    position :absolute;
    font-size : 20px;
    width : 500px;
    right : 50px;
    bottom : 200px;
    border : 1px solid;
}

/*레코드*/

.section_{
    background: #fff;
}

.section_record .contents_record{
    max-width : 1100px;
    height : 1080px;
    margin : 0 auto;
    position : relative;
    border : 3px solid;
    box-sizing: border-box;
}

.section_record .contents_record .record_1{
    position : absolute;
    font-size: 30px;
    top : 60px;
    width : 300px;
    height : 200px;
    border : 1px solid;
}

.section_record .contents_record .record_2{
    position : absolute;
    left : 60px;
    bottom : 250px;
    font-size: 30px;
    border : 1px solid;
    width : 900px;
    height : auto;
    overflow: hidden;
}

.section_record .contents_record .record_2 li{
    height : 130px;
    border : 1px solid;

}

.section_record .contents_record .record_2 .record_2_left{
    float : left;
    width : 20%;
    border : 1px solid;
    box-sizing: border-box;
}

.section_record .contents_record .record_2 .record_2_right{
    float : left;
    width : 80%;
    border : 1px solid;
    box-sizing: border-box;
}



.section_record .contents_record .record_3{
    position : absolute;
    left : 250px;
    bottom : 90px;
    font-size: 20px;
    border : 1px solid;
    width : 150px;
    height : 90px;
}

/*메모리*/

.section_memory{
    background: #fff;
}

.section_memory .contents_memory{
    max-width : 1100px;
    height : 1080px;
    margin : 0 auto;
    position : relative;
    border : 3px solid;
    box-sizing: border-box;
}
.section_memory .contents_memory .memory_1{
    position : absolute;
    font-size: 30px;
    top : 60px;
    width : 700px;
    height : auto;
    border : 1px solid;
}

/*뉴스레터*/

.section_news {
    height : 250px;
    background: #888;
}



/* 하단시작 */
.footer .box{
    width : 1100px;
    margin : 0 auto;
    background: #000;
}


.footer .box.top{
    height : auto;
    overflow: hidden;

}

.footer .box.top li{
    width : 30%;
    height : 200px;
    background: skyblue;
    float : left;
    margin-top : 40px;
}

.footer .box.top .plan,.design{
    margin-right: 5%;
}

.footer .box.bottom{
    height : 100px;
    color : #fff;
}
