@charset "utf-8";

.nav{
    width : 1000px;
    height:auto;
    border:1px solid #f00;
    margin : 0 auto;
    overflow : hidden;

}

.nav > ul> li{
    width:20%;
    height:100px;
    border:1px solid;
    float:left;
    box-sizing:border-box;
    padding: 10px 10px 10px 10px;
    background: aquamarine;
    
}

.nav>ul>li img{
    width:100px;
    height:auto;
}