@charset "UTF-8";

.parent {
  width : 800px;
  height : 600px;
  border : 1px solid #f00;
  margin: 0 auto;
  position: absolute;
  left : 200px;
  top : 200px;
}

.box {
  width : 200px;
  height: 200px;
  border : 1px solid #000;
  position: absolute;
  font-size: 50px;
  text-align:center;
  line-height: 200px;
  color:#fff;
}

.box.box1{ background: #f00; left : 100px; top : 100px; z-index: 1;}
.box.box2{ background: #ff0; left : 200px; top : 200px; z-index: 2;}
.box.box3{ background: #00f; left : 300px; top : 300px; z-index: 3;}
