@charset "UTF-8";
.box{
  width : 300px;
  height : 300px;
  background : #6bd0b8;
  margin : 0 auto;
  line-height : 300px;
  font-size : 50px;
  text-align: center;
}

.box1 {
  background: url(../images/bg1.jpg) no-repeat 50%;
  background-size : cover;
  border-radius: 50%;
  transition: 1.2s;
  color : pink;
}
.box2 {
  border-radius : 10px 35px 80px 50%;
  transition : 2s;
}


.box1:hover {
text-shadow : 5px 5px 5px #004;
color : white;
box-shadow : 2px 2px 200px #5f5;
}



.box2:active{
  transform : rotate(-1080deg);
  border-radius : 50% 35px 80px 10px;
  background : aliceblue;
  color : blue;
  width : 50px;
  font-size : 1px;
  box-shadow : 2px 2px 300px #005;
}
