@charset "utf-8";
body {
  padding-left : 30px;
}


.box {
  width: 200px;
  height: 200px;
  border:1px solid;


}

.box.box1{
  background:#ccf;
  margin-top:100px;
  margin-left:100px;
  margin-bottom:100px;
  margin-right:100px;
}

.box.box2{
  background: #f05;
  padding : 50px;
  margin-bottom: 50px;
}


.box.box3{
  background:#09f;
  padding : 50px;
  margin-top: 30px;
  margin: 0px auto;
  box-sizing: border-box;

}

 .box.box3:hover{
   cursor: pointer;
   transform: rotate(360deg) ;
   transition: 100s;
 }
